@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

$prim-color:#0D0919; 
$sec-color:#1F1746;
$trd-color:#A41EF8;
$qua-color:#66CFFB;
$light-color:#F5E5F5; 

$primary-font: 'Roboto'; 