@import "/src/styles/variables"; 

.contact {
    margin:auto; 
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 80vw; // Fix Width >> include MAX Width in PX
    max-width: 500px;
    height: 80vh;
    background: rgba($prim-color, 0.9);
    text-align: center;
    border-radius: 20px;
    padding: 2em; 
    &-form {
        display: flex;
        flex-direction: column;
        text-align: left;  
        label {
            margin-top: 2em;
        }
        input, textarea {
            margin-top: 1em;
            padding-left:.5em;
            color:$prim-color;
        }
        Button {
            margin: 1em;
        }
    }

    .contact-header {
        display: flex;
        justify-content: center;
        position: relative;
        .close-button {
            position: absolute;
            top:0;
            right:.25em;
            font-size: 2rem;
            transition: fill .25s ease-in;
            &:hover{
                fill:$qua-color;
                cursor: pointer;
            }
        }
    }
}