@import "/src/styles/variables"; 
.main {
    background: linear-gradient(to bottom, 
    rgba($prim-color, 0.75), rgba($prim-color, 0.95));
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    padding:10px;
}

@media(min-width:680px){
    .main{
        width: 68%;
    }
}