@import "/src/styles/variables"; 

.card {
    background: linear-gradient(to top, rgba($trd-color, 0.03), rgba($trd-color, 0.10));
    min-height: 400px;
    width: 80%;
    margin:0 auto;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    header {
        display: flex;
        flex-direction: column;
        
    }
    main{
       
        margin-bottom: 1em;
    }
    .card-icon{
        font-size: 7rem;
        fill: $qua-color;
        transition: all .25s ease;
        &:hover{
            font-size: 7.5rem;
        }
    }
}

@media(min-width:675px){
    .card {
        width: 100%;
    }
}