.home-footer {
    margin-top: 7.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .5;
    .footer-note{
        opacity: .75;
        margin-bottom: .25em;
    }    
}