.skill {
    display: inline-block;
    align-items: center;
    border-radius: 20px;
    border: 1px solid cyan;
    width: fit-content;
    padding:.3em;
    font-size: .8rem;
    margin-left: .25em;
    margin-bottom: .25em;
}