@import "/src/styles/variables"; 

.side-social {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    margin-top: .5em;
    *{
        cursor: pointer;
        fill:$qua-color;
        transition: transform .25s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
}