@import "/src/styles/variables";

.home-banner {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 10px;
  background: linear-gradient(rgba($sec-color, 0.75), rgba($prim-color, 0.05));
  &-img {
    display: none;
  }
  &-text {
    width: 100%;
    &-title {
      width: 95%;
      opacity: 85%;
      letter-spacing: 0.25rem;
      font-size: 2rem;
      font-weight: 400;

      span {
        color: $qua-color;
        font-weight: 700;
      }
    }
    &-subtitle {
      text-align: start;
      opacity: 60%;
      line-height: 1.5;
      letter-spacing: 0.2rem;
      margin-top: 1em;
    }
    a {
      color: $qua-color;
      font-weight: bold;
      text-decoration: none;
    }
  }
  &-actions {
    margin-top: 1em;
    width: 14.5em;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 675px) {
  .home-banner {
    flex-direction: row;
    justify-content: space-between;
    &-text {
      width: 60%;
      &-title {
        span {
        }
      }
      &-subtitle {
      }
    }
    &-img {
      display: block;
      padding: 1em;
      width: 38%;
      object-fit: contain;
      opacity: 0.8;
      background-color: rgba(lighten(rgba($sec-color, 0.75), 5), 0.4);
      border-radius: 20px;
    }
  }
}
